/*
Import fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Kaiti SC';
    src: url('/fonts/Kaiti-SC-Bold.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Kaiti-SC-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Kaiti-SC-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Kaiti-SC-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/Kaiti-SC-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Kaiti-SC-Bold.svg#Kaiti SC') format('svg');
    /* Legacy iOS */
    font-style: Bold;
    font-weight: Bold;
}


@font-face {
    font-family: 'Kaiti SC';
    src: url('/fonts/Kaiti-SC-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Kaiti-SC-Regualr.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Kaiti-SC-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Kaiti-SC-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/Kaiti-SC-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Kaiti-SC-Regular.svg#Kaiti SC') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

.root {
    font-size: 10px;
}

body {
    font-family: 'Roboto', 'Arial', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Kaiti SC', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1.0rem;
}

h6 {
    font-size: 0.9rem;
}


.dropdown-item .dropdown-menu .dropdown-item-activate {
    font-family: Georgia, -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif
}

.section-subheading {
    font-family: Georgia, 'Kaiti SC', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif
}

/*Article body*/

.article-container {
    max-width: 1000px;
}

/*Navigation bar*/
.nav-link {
    font-size: 1.25rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-family: Georgia, 'Kaiti SC', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif
}

/*Experience widget*/
.experience .card-text {
    font-size: 0.9rem !important;
}

.experience .card-text p {
    font-size: 0.9rem !important;
}

.exp-title {
    font-size: 1.0rem !important;
}

.exp-company {
    font-size: 1.0rem;
}

.exp-meta {
    font-size: 0.9rem;
}

//卡片式链接样式 cardlink

.card-link,
.card-link:hover {
    text-decoration: none;
    border: none !important;
    color: inherit !important
}

.card-link {
    position: relative;
    display: block;
    margin: 1em auto;
    // width: 500px;
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 80%;
    overflow: hidden;
    color: inherit;
    text-decoration: none
}

.ztext {
    word-break: break-word;
    line-height: 1.6
}

.card-link-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/card-link-bg.jpg);
    background-repeat: no-repeat;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background-size: cover;
    background-position: center
}

.card-link,
.card-link:hover {
    text-decoration: none;
    border: none !important;
    color: inherit !important
}

.card-link-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: inherit;
    background-color: rgba(246, 246, 246, 0.88);

    body.dark & {
        background-color: rgba(61, 62, 65, 0.88);
        color: #f8f8f2;
    }
}

.card-link-text {
    overflow: hidden
}

.card-link-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(16px * 1.25 * 2);
    font-size: 16;
    font-weight: 500;
    line-height: 1.25;
    color: #1a1a1a;

    body.dark & {
        color: #f8f8f2;
    }
}

.card-link-meta {
    display: flex;
    margin-top: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    white-space: nowrap
}

.card-link-url {
    display: inline-flex;
    align-items: center;
}

.card-link-imageCell {
    margin-left: 8px;
    border-radius: 6px;
}

.card-link-image {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: inherit;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}