/*
Import fonts
*/

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



@font-face {
    font-family: 'Kaiti SC';
    src: url('/fonts/Kaiti-SC-Bold.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Kaiti-SC-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Kaiti-SC-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Kaiti-SC-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/Kaiti-SC-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Kaiti-SC-Bold.svg#Kaiti SC') format('svg');
    /* Legacy iOS */
    font-style: Bold;
    font-weight: Bold;
}


@font-face {
    font-family: 'Kaiti SC';
    src: url('/fonts/Kaiti-SC-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Kaiti-SC-Regualr.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Kaiti-SC-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Kaiti-SC-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/Kaiti-SC-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Kaiti-SC-Regular.svg#Kaiti SC') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}






/* Some basic font settings */
:root {
    --main-font-family: 'Montserrat', 'STHeiti', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Literata SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
    --heading-font-family: 'Cormorant Garamond', 'Kaiti SC', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Literata SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', serif;
    --orange: #FFA500;
}

/* Define dark mode styles */
@media (prefers-color-scheme: dark) {

    /* Apply the color to all bold text */
    b,
    strong {
        color: var(--orange);
        /* Bold color for dark mode */
    }

    /* Optional: Apply the color to elements with bold font-weight */
    // body * {
    //     font-weight: bold {
    //         color: var(--orange);
    //     }
    // }
    /* Apply the color to elements with inline styles setting font-weight to bold */
    body *[style*="font-weight: bold"] {
        color: #ff9900;
    }
}


body {
    font-family: var(--main-font-family) !important;
    line-height: 1.8rem;
}

body.dark {
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: 600;
    margin-top: 1.2rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.0rem;
}

h6 {
    font-size: 0.9rem;
}

/* Background color */

.dark .home-section .home-section-bg {
    background-color: #2A2C31;
}


/*Menus*/
.navbar {
    font-family: var(--heading-font-family)
}

.btn-toolbar .btn {
    font-size: 1.1rem !important;
    font-family: var(--heading-font-family);
}


.dropdown-menu .dropdown-item {
    font-size: 1.1rem !important;
    font-family: var(--heading-font-family);
}

.dropdown-item-active {
    font-size: 1.1rem !important;
    font-family: var(--heading-font-family);
}

.nav-link {
    font-size: 1.35rem;
}

.navbar-brand {
    font-size: 1.7rem;
}

.portrait-title h2 {
    font-size: 1.85rem;
}


.portrait-title h3 {
    font-size: 1.3rem;
}


/* About */
.institution {
    font-size: 0.9rem !important;
}


/*Article body and Sections*/

.section-subheading {
    font-family: var(--heading-font-family);
    font-size: 1.5em;
}



.article-container {
    max-width: 1000px;
}

.article-metadata {
    font-size: 0.85em;
}

/* Lists */
.media.stream-item .article-style {
    margin-top: 2px;
    font-size: 1.0rem;
}

.dark .badge-light {
    color: #38a9ff;
    border: var(--blue);
}

.card-simple .article-style {
    font-size: 0.9rem !important;
}


.card-simple .article-title {
    font-size: 1.3rem;
}

.dark .card-simple {
    background-color: #1E2024;
    border: 0;
}

.dark .card {
    background-color: #1e2024;
}

.card .card-text p {
    font-size: 0.9rem;
}

/* Experience widget */

.experience .card-text {
    font-size: 0.9rem !important;
}

.experience .card-text p {
    font-size: 0.9rem !important;
}

.exp-title {
    font-size: 1.2rem !important;
}

.exp-company {
    font-size: 1.15rem !important;
}

.exp-meta {
    font-size: 0.9rem;
}

.dark .card .section-subheading a {
    color: #38a9ff;
    border-bottom: solid 1px transparent;
}

.btn-outline-primary:hover {
    border-color: #38a9ff !important;
}

/* Card Link Style */

.card-link,
.card-link:hover {
    text-decoration: none;
    border: none !important;
    color: inherit !important
}

.card-link {
    position: relative;
    display: block;
    margin: 1em auto;
    // width: 500px;
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 80%;
    overflow: hidden;
    color: inherit;
    text-decoration: none
}

.ztext {
    word-break: break-word;
    line-height: 2.4rem;
}


.card-link-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/card-link-bg.jpg);
    background-repeat: no-repeat;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background-size: cover;
    background-position: center
}



.card-link-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: inherit;
    background-color: rgba(246, 246, 246, 0.88);

    body.dark & {
        background-color: rgba(61, 62, 65, 0.88);
        color: #f8f8f2;
    }
}

.card-link-text {
    overflow: hidden
}

.card-link-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(16px * 1.25 * 4);
    font-size: 16;
    font-weight: 500;
    line-height: 1.25;
    color: #1a1a1a;

    body.dark & {
        color: #f8f8f2;
    }
}

.card-link-meta {
    display: flex;
    margin-top: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    white-space: nowrap
}

.card-link-url {
    display: inline-flex;
    align-items: center;
}

.card-link-imageCell {
    margin-left: 8px;
    border-radius: 6px;
}

.card-link-image {
    display: block;
    width: 150px;
    height: 100px;
    border-radius: inherit;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}


/* Figure */

figure figcaption {
    font-size: 0.9em;
    ;
}